.general{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.circle{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}